@{
    ViewData["Title"] = "Home Page";
}

<div class="center">
    <div style="font-size:1.8em">
        <a class="button5" style="border-color:#FFFFFF; background-color:rgba(0,0,0,0); color:#FFFFFF" asp-area="" asp-controller="Kitchens" asp-action="Index">Køkken</a>
        <a class="button5" style="border-color:#FFFFFF; background-color:rgba(0,0,0,0); color:#FFFFFF" asp-area="" asp-controller="Restaurants" asp-action="Create">Restaurant</a>
        <a class="button5" style="border-color:#FFFFFF; background-color:rgba(0,0,0,0); color:#FFFFFF" asp-area="" asp-controller="Receptions" asp-action="Index">Reception</a>
    </div>
</div>
